In [1]:
import numpy as np
import pandas as pd
import matplotlib as mp
import seaborn as sns

In [2]:
import mysql.connector as mysql

### File to import

In [3]:
data="../Database-and-Analytical-Programming/dataset/Drivers_Data_20240404.csv"

In [4]:
# MySQL database connection parameters
host = 'localhost'
user = 'root'
password = 'Visionamd@23'
database = 'montgomery'

# Establish connection
connection = mysql.connect(
            host=host,
            user=user,
            password=password,
            database=database
)

if connection.is_connected():
    print("Connected to MySQL database")

Connected to MySQL database

In [5]:
connection

In [6]:
mycursor=connection.cursor()

In [7]:
query="SELECT count(*) FROM drivers"

In [8]:
mycursor.execute(query)

In [9]:
res= mycursor.fetchall()

In [10]:
print(res)

[(172062,)]

In [11]:
mycursor.execute("SHOW TABLES")
# Fetch all table names
tables = mycursor.fetchall()

# Print table names
for table in tables:
    print(table[0])

drivers
drivers_copy

In [12]:
query1 = "SELECT * FROM drivers LIMIT 1"  # Fetching only one row to get column headers
mycursor.execute(query1)

# Fetch column names (column headers)
column_names = [desc[0] for desc in mycursor.description]

# Print column names
print("Column Names:")
for column_name in column_names:
    print(column_name)

mycursor.fetchall()

Column Names:
Report Number
Local Case Number
Agency Name
ACRS Report Type
Crash Date/Time
Route Type
Road Name
Cross-Street Type
Cross-Street Name
Off-Road Description
Municipality
Related Non-Motorist
Collision Type
Weather
Surface Condition
Light
Traffic Control
Driver Substance Abuse
Non-Motorist Substance Abuse
Person ID
Driver At Fault
Injury Severity
Circumstance
Driver Distracted By
Drivers License State
Vehicle ID
Vehicle Damage Extent
Vehicle First Impact Location
Vehicle Second Impact Location
Vehicle Body Type
Vehicle Movement
Vehicle Continuing Dir
Vehicle Going Dir
Speed Limit
Driverless Vehicle
Parked Vehicle
Vehicle Year
Vehicle Make
Vehicle Model
Equipment Problems
Latitude
Longitude
Location

[('MCP3040003N',
  190026050,
  'Montgomery County Police',
  'Property Damage Crash',
  '05/31/2019 03:00:00 PM',
  '',
  '',
  '',
  '',
  'PARKING LOT OF 3215 SPARTAN RD',
  '',
  '',
  'OTHER',
  'CLEAR',
  '',
  'DAYLIGHT',
  'N/A',
  'UNKNOWN',
  '',
  'DE2A24CD-7919-4F8D-BABF-5B75CE12D21E',
  'Yes',
  'NO APPARENT INJURY',
  'N/A',
  'UNKNOWN',
  '',
  '165AD539-A8C8-4004-AF73-B7DCAAA8B3CC',
  'SUPERFICIAL',
  'ONE OCLOCK',
  'ONE OCLOCK',
  'PASSENGER CAR',
  'PARKING',
  'North',
  'North',
  15,
  'No',
  'No',
  2004,
  'HONDA',
  'TK',
  'UNKNOWN',
  39.15004368,
  -77.06308884,
  '(39.15004368, -77.06308884)')]

In [13]:
queryal="SELECT count(*) FROM drivers"
mycursor.execute(queryal)

resal=mycursor.fetchone()
print("No. of records in 'drivers' table:",resal[0])

mycursor.fetchall()

querynu="SELECT * FROM drivers WHERE `Route Type` IS NULL"
mycursor.execute(querynu)

aa=mycursor.fetchall()
print(aa)

No. of records in 'drivers' table: 172062
[]

In [14]:
# Execute query to count the number of records in the "drivers" table
query2 ="SELECT count(*) FROM drivers"
mycursor.execute(query2)

# Fetch result
res1 = mycursor.fetchone()
print("Number of records in 'drivers' table:", res1[0])

# Consume the result set
mycursor.fetchall()

# Execute query2
query3 = "SELECT * FROM drivers WHERE `Route Type` IS NULL"
mycursor.execute(query3)

# Fetch result of query2
aa = mycursor.fetchall()
print(aa)

Number of records in 'drivers' table: 172062
[]

In [15]:
# copy_query="CREATE TABLE drivers_copy LIKE drivers"
# mycursor.execute(copy_query)

In [16]:
delete_query = "DELETE FROM drivers WHERE `Off-Road Description` = %s"
value_to_delete = "value_to_delete"  # Replace 'value_to_delete' with the actual value you want to delete
# mycursor.execute(delete_query, (value_to_delete,))

# Commit the transaction
connection.commit()

# Print the number of rows deleted
print(f"{mycursor.rowcount} row(s) deleted.")

0 row(s) deleted.

In [17]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://x23236108:aasim123@montgomerycluster.tzxvtsd.mongodb.net/?retryWrites=true&w=majority&appName=montgomerycluster"
# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

ac-splqn9y-shard-00-02.tzxvtsd.mongodb.net:27017: timed out (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms),ac-splqn9y-shard-00-00.tzxvtsd.mongodb.net:27017: timed out (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms),ac-splqn9y-shard-00-01.tzxvtsd.mongodb.net:27017: timed out (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms), Timeout: 30s, Topology Description: <TopologyDescription id: 661fec17d70ba816cde6d3a6, topology_type: ReplicaSetNoPrimary, servers: [<ServerDescription ('ac-splqn9y-shard-00-00.tzxvtsd.mongodb.net', 27017) server_type: Unknown, rtt: None, error=NetworkTimeout('ac-splqn9y-shard-00-00.tzxvtsd.mongodb.net:27017: timed out (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>, <ServerDescription ('ac-splqn9y-shard-00-01.tzxvtsd.mongodb.net', 27017) server_type: Unknown, rtt: None, error=NetworkTimeout('ac-splqn9y-shard-00-01.tzxvtsd.mongodb.net:27017: timed out (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>, <ServerDescription ('ac-splqn9y-shard-00-02.tzxvtsd.mongodb.net', 27017) server_type: Unknown, rtt: None, error=NetworkTimeout('ac-splqn9y-shard-00-02.tzxvtsd.mongodb.net:27017: timed out (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>]>

In [ ]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://x2336108:aasim123@montgomerycluster.tzxvtsd.mongodb.net/?retryWrites=true&w=majority&appName=montgomerycluster"
# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

In [ ]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
 
uri = "mongodb+srv://x23236108:aasim123@dap0.u0itlkg.mongodb.net/?retryWrites=true&w=majority&appName=dap0"
 
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
 
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)