### Import Required Librariers

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mp
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import mysql.connector as mysql
from sqlalchemy import create_engine

### Creating MySQL Engine

In [ ]:
engine = create_engine('mysql+pymysql://root:sana123@localhost/montgomery')

### File to feed

In [ ]:
data=pd.read_csv("Incidents_Data_20240404.csv")

### Establishing MySQL database connection

In [ ]:
def connect_to_mysql():
    try:
        # MySQL database connection parameters
        host = 'localhost'
        user = 'root'
        password = 'sana123'
        database = 'montgomery'

        # Establish connection
        connection = mysql.connect(
            host=host,
            user=user,
            password=password,
            database=database
        )

        if connection.is_connected():
            print("Connected to MySQL database")
            return connection
    except mysql.connector.Error as e:
        print("Error connecting to MySQL database:", e)

In [ ]:
conn = connect_to_mysql()
conn

### DDL & DML Queries - Relational DB Reading & Writing Operations

In [ ]:
create_table='''CREATE TABLE IF NOT EXISTS incident_dupe (
                report_number TEXT,
                local_case_number TEXT,
                agency_name TEXT,
                acrs_report_type TEXT,
                crash_date_time TEXT,
                hit_run TEXT,
                route_type TEXT,
                mile_point TEXT,
                mile_point_direction TEXT,
                lane_direction TEXT,
                lane_number TEXT,
                lane_type TEXT,
                number_of_lanes TEXT,
                direction TEXT,
                distance TEXT,
                distance_unit TEXT,
                road_grade TEXT,
                non_traffic TEXT,
                road_name TEXT,
                cross_street_type TEXT,
                cross_street_name TEXT,
                off_road_description TEXT,
                municipality TEXT,
                related_non_motorist TEXT,
                at_fault TEXT,
                collision_type TEXT,
                weather TEXT,
                surface_condition TEXT,
                light TEXT,
                traffic_control TEXT,
                driver_substance_abuse TEXT,
                non_motorist_substance_abuse TEXT,
                first_harmful_event TEXT,
                second_harmful_event TEXT,
                fixed_object_struck TEXT,
                junction TEXT,
                intersection_type TEXT,
                intersection_area TEXT,
                road_alignment TEXT,
                road_condition TEXT,
                road_division TEXT,
                latitude TEXT,
                longitude TEXT,
                location TEXT
                )'''

In [ ]:
show_table="show tables"

In [ ]:
insert_data='''INSERT INTO incident_dupe (report_number, local_case_number, agency_name, acrs_report_type, crash_date_time, hit_run, route_type, mile_point, mile_point_direction, lane_direction, lane_number,lane_type, number_of_lanes, direction, distance, distance_unit, road_grade, non_traffic, road_name, cross_street_type, cross_street_name, off_road_description, municipality, related_non_motorist, at_fault, collision_type, weather, surface_condition, light, traffic_control, driver_substance_abuse, non_motorist_substance_abuse, first_harmful_event, second_harmful_event, fixed_object_struck, junction, intersection_type, intersection_area, road_alignment, road_condition, road_division,latitude,longitude,location) VALUES ( %s,%s,%s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

In [ ]:
drop_columns='''ALTER TABLE incident_dupe
DROP COLUMN Latitude,
DROP COLUMN Longitude,
DROP COLUMN Location'''

In [ ]:
select_query="select * from incident_dupe"

### Establishing a cursor

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute(show_table) # gives all the tables in the database
tables = cursor.fetchall()
# Print table names
for table in tables:
    print(table[0])

In [ ]:
cursor.execute(create_table) # executing/creating a table
conn.commit() # Commit the transaction

In [ ]:
cursor.execute(show_table) # gives all the tables in the database
tables = cursor.fetchall()
# Print table names
for table in tables:
    print(table[0])

In [ ]:
# Execute the query to get column information
cursor.execute("DESCRIBE incident_dupe")

In [ ]:
# Fetch all the rows
columns = cursor.fetchall()
# Print column names and data types
for column in columns:
    print(column[0], "-", column[1])

In [ ]:
cursor.close()

In [ ]:
data.head()

The dataframe as seen above has "NaN" values which cannot be inserted into the tables created in MySQL DB

Thus we need to replace those Nan Values with any string like missing/unknown for instance i.e. time being

### Creating a copy of original dataframe

In [ ]:
df=data

In [ ]:
print(df.dtypes)

In [ ]:
df_filled = df.fillna("Missing")

In [ ]:
df_filled.head()

### Writing the dataframe to MySQL Table

In [ ]:
inserted_records_count = 0

In [ ]:
cursor = conn.cursor()

In [ ]:
for index, row in df_filled.iterrows():
    cursor.execute(insert_data, tuple(row))
    inserted_records_count += 1

In [ ]:
conn.commit()

In [ ]:
print("Number of records inserted into table:", inserted_records_count)

In [ ]:
# Execute SELECT COUNT(*) query
cursor.execute("SELECT COUNT(*) FROM incident_dupe")

In [ ]:
# Fetch the result
count = cursor.fetchone()[0]
print("Number of records in 'incident_dupe' table:", count)

In [ ]:
cursor.close()

### Reading MySQL table to dataframe

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute(drop_columns)

In [ ]:
conn.commit()

In [ ]:
# Execute the DESCRIBE query
cursor.execute("DESCRIBE incident_dupe")

# Fetch and print the column information
columns = cursor.fetchall()
for column in columns:
        print(column)

In [ ]:
read_data = "select * from incident_dupe"

In [ ]:
sql_frame = pd.read_sql(read_data, conn)

In [ ]:
sql_frame.head()

### Checking for duplicate records

In [ ]:
duplicate_rows = sql_frame.duplicated()
print("Number of duplicate rows:", duplicate_rows.sum())

There are no Duplicate records in the data

### If there were any duplicate records I would have dropped it using below

sql_frame = sql_frame.drop_duplicates()

### Checking Missing Values

In [ ]:
sql_frame.isnull().sum()

As we have replaced 'NaN' has been replaced with 'Missing' we'll search for 'Missing' present in each column.

### Where all Missing values are present?

In [ ]:
# Check where "Missing" values occur in each column
missing_mask = sql_frame.eq('Missing')

# Check which columns have at least one "Missing" value
columns_with_missing = missing_mask.any()

# Extract the column names where "Missing" values occur
columns_with_missing_values = columns_with_missing[columns_with_missing].index.tolist()

# Print the columns with "Missing" values
print("Columns with 'Missing' values:", columns_with_missing_values)

These are all the columns where 'Missing' value is found....get the count of 'Missing' value in each of the above columns

In [ ]:
# Iterate through columns with missing values
for column in columns_with_missing_values:
    # Get unique values and their counts
    unique_values_counts = sql_frame[column].value_counts() 
    # Print column name
    print("Column:", column)
    # Print unique values and their counts
    print(unique_values_counts)
    print()

### Insights

For hit_run - we have 2 missing values which can be replaced by Yes/No

For route_type - we have 12995 missing values which can be replaced by the mode of 9 different category
For mile_point - we have 12338 missing values can be filled with mean/median
For mile_point_direction - we have 12991 missing values and 1 unkown value which can be replaced by Yes/No
For lane_direction - we have 12327 missing values and 750 unknown which can be replaced by the mode of 9 different category
For lane_type - we have 87945 missing values can be filled or kept as is where acrs failed to track the lane type
For distance - we have 10475 missing values which can be replaced by mean/median

For distance_unit - we have 12328 missing values and 458 Unknown values can be filled with mode

For direction - we have 12338 missing values and 37 unknown which can be replaced by 4 other direction- mode
For road_grade - we have 12967 missing values and 152 unkown value which can be replaced by mode

For road_name - we have 12328 missing values which can be replaced by the mode
For cross_street_type - we have 13016 missing values and Unknown -7276 can be filled or kept as is where acrs failed to track the lane type
cross_street_name - 12338 Missing - mode/drop
off_road_description- 85132 Missing
municipality- 86967 Missing
related_non_motorist- 92077 Missing
collision_type- 13263 Other, 717 Unknown, 504 Missing
weather- 7947 Missing, 648 Unknown, other 214
surface_condition- 14650 Missing, 407 Unknown, 99 other
light- Missing 815, UNKNOWN 698, OTHER 221
traffic_control- Missing 16436, OTHER 1143, UNKNOWN 234
driver_substance_abuse- Missing 15598,UNKNOWN 5115, N/A, UNKNOWN 1154, OTHER 35 (need attention) ---Aasim's file
non_motorist_substance_abuse- Missing 93195, UNKNOWN 222
first_harmful_event- Missing 650, OTHER 339, UNKNOWN 192
second_harmful_event- Missing 72948, OTHER 155, UNKNOWN 129
fixed_object_struck- Missing 76863, UNKNOWN 235
junction- Missing 26099, UNKNOWN 79
intersection_type- Missing 49054, UNKNOWN 97
intersection_area- Missing 71045, OTHER 1150, UNKNOWN 79
road_alignment- Missing 12749, UNKNOWN 131
road_condition- Missing 15705, OTHER 338,UNKNOWN 204
road_division- Missing  13531,OTHER 1167,UNKNOWN 85

### hit_run Column

In [ ]:
sql_frame['hit_run'] = sql_frame['hit_run'].replace('Missing', 'unknown')

In [ ]:
# Get the count of repetitions
hit_run_counts = sql_frame['hit_run'].value_counts()

print(hit_run_counts)

### Columns with low weightage in analysis/less useful for analysis

In [ ]:
columns_to_drop = ['cross_street_type', 'off_road_description', 'municipality','first_harmful_event','second_harmful_event']
sql_frame.drop(columns=columns_to_drop, inplace=True)

In [ ]:
sql_frame.head()

In [ ]:
num_rows, num_columns = sql_frame.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

In [ ]:
# Check where "Missing" values occur in each column
missing_mask = sql_frame.eq('Missing')

# Check which columns have at least one "Missing" value
columns_with_missing = missing_mask.any()

# Extract the column names where "Missing" values occur
columns_with_missing_values = columns_with_missing[columns_with_missing].index.tolist()

# Print the columns with "Missing" values
print("Columns with 'Missing' values:", columns_with_missing_values)

In [ ]:
# Iterate through columns with missing values
for column in columns_with_missing_values:
    # Get unique values and their counts
    unique_values_counts = sql_frame[column].value_counts() 
    # Print column name
    print("Column:", column)
    # Print unique values and their counts
    print(unique_values_counts)
    print()

### Transformations for columns with moderate or moderate to high weightage in analysis/somewhat useful for analysis

In [ ]:
# road_grade
sql_frame['road_grade'] = sql_frame['road_grade'].replace('Missing', sql_frame['road_grade'].mode()[0])

In [ ]:
sql_frame.head()

In [ ]:
# Get counts of report numbers for each agency name
road_grade_counts = sql_frame['road_grade'].value_counts()
# Print the counts
print(road_grade_counts)

In [ ]:
sql_frame['direction'] = sql_frame['direction'].replace('Missing', 'Unknown')

In [ ]:
# Get counts of report numbers for each agency name
direction_counts = sql_frame['direction'].value_counts()
# Print the counts
print(direction_counts)

In [ ]:
## mile_point
sql_frame['mile_point'] = sql_frame['mile_point'].replace('Missing', np.nan)
sql_frame['mile_point'] = sql_frame['mile_point'].astype(float)
sql_frame['mile_point'].fillna(sql_frame['mile_point'].median())

In [ ]:
#distance
sql_frame['distance'] = sql_frame['distance'].replace('Missing', np.nan)
sql_frame['distance'] = sql_frame['distance'].astype(float)
sql_frame['distance'].fillna(sql_frame['distance'].median())

In [ ]:
# Get counts of report numbers for each agency name
route_type_counts = sql_frame['route_type'].value_counts()
# Print the counts
print(route_type_counts)

In [ ]:
# Get counts of report numbers for each agency name
lane_direction_counts = sql_frame['lane_direction'].value_counts()
# Print the counts
print(lane_direction_counts)

In [ ]:
# lane_direction
sql_frame['lane_direction'] = sql_frame['lane_direction'].replace('Missing', sql_frame['lane_direction'].mode()[0])

In [ ]:
sql_frame.head()

In [ ]:
# Check where "Missing" values occur in each column
missing_mask = sql_frame.eq('Missing')

# Check which columns have at least one "Missing" value
columns_with_missing = missing_mask.any()

# Extract the column names where "Missing" values occur
columns_with_missing_values = columns_with_missing[columns_with_missing].index.tolist()

# Print the columns with "Missing" values
print("Columns with 'Missing' values:", columns_with_missing_values)

In [ ]:
# Iterate through columns with missing values
for column in columns_with_missing_values:
    # Get unique values and their counts
    unique_values_counts = sql_frame[column].value_counts() 
    # Print column name
    print("Column:", column)
    # Print unique values and their counts
    print(unique_values_counts)
    print()

In [ ]:
column_list = sql_frame.columns.tolist()
print(column_list)

In [ ]:
columns_to_drop = ['mile_point_direction', 'direction', 'road_grade', 'non_traffic', 'fixed_object_struck', 'intersection_area', 'road_division']
sql_frame.drop(columns=columns_to_drop, inplace=True)

In [ ]:
column_list = sql_frame.columns.tolist()
print(column_list)

In [ ]:
# Count the number of columns containing 'Missing'
missing_columns_count = 0
missing_columns = []

for column in sql_frame.columns:
    if (sql_frame[column] == 'Missing').any():
        missing_count = (sql_frame[column] == 'Missing').sum()
        if missing_count > 0:
            missing_columns_count += 1
            missing_columns.append((column, missing_count))

print("Total number of columns with 'Missing' values:", missing_columns_count)
print("Columns with count of 'Missing' values:")
for column_name, count in missing_columns:
    print(f"{column_name}: {count}")

In [ ]:
# Define threshold for dropping columns
threshold = 50000

# Filter columns with count of 'Missing' values greater than threshold
columns_to_drop = [column for column, count in missing_columns if count > threshold]

# Drop columns from DataFrame
sql_frame.drop(columns=columns_to_drop, inplace=True)

# Print the remaining columns
print("Remaining columns after dropping:")
print(sql_frame.columns.tolist())

In [ ]:
sql_frame.head()

In [ ]:
final_transformed_frame=sql_frame

In [ ]:
# Assuming final_transformed_frame is your DataFrame and filename is the name of the output file
filename = "incidents.json"
final_transformed_frame.to_json(filename, orient='records')

### MongoDB Cluster connection

In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://x22237941:Sana123@montgomerycluster.tzxvtsd.mongodb.net/?retryWrites=true&w=majority&appName=montgomerycluster"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

try:
    #client.admin.command('ping')
    client.montgomery.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

### Check server status

In [2]:
try:
    server_status = client.montgomery.command('serverStatus')
    print("Server is up and running.")
except Exception as e:
    print("Error:", e)

Server is up and running.

### List all databases

In [3]:
databases = client.list_database_names()
print("Databases:")
for db_obj in databases:
    print(db_obj)

Databases:
montgomery
admin
local

### List all collections in a specific database

In [4]:
database_name = "montgomery"
collections = client[database_name].list_collection_names()
print("\nCollections in", database_name, ":")
for col in collections:
    print(col)

Collections in montgomery :
drivers_dupe
incidents

### Create database named montgomery

In [7]:
database = 'montgomery'
dblist = client.list_database_names()
if database in dblist:
  print(f"The database {database} exists.")
  colList = client[database_name].list_collection_names()
  collection_name = 'incidents'
  if collection_name in colList:
      print(f"The collection { collection_name} exists.")
  else:
      print(f"The collection { collection_name } does NOT exists.")
      collection = db[ collection_name ]
else:
  print(f"The database {database} does not exists.")
  db = client[database]

The database montgomery exists.
The collection incidents exists.

In [8]:
collections = client[database_name].list_collection_names()
print("\nCollections in", database_name, ":")
for col in collections:
    print(col)

Collections in montgomery :
drivers_dupe
incidents

### Load JSON file into incidents collection of montgomery database

In [11]:
collection= client[database_name].incidents
# Get the total number of documents in the collection
total_records = collection.count_documents({})
print("Total number of records in the collection:", total_records)

Total number of records in the collection: 0

In [12]:
# Select database and collection
db = client['montgomery']
collection_name = 'incidents2'

In [13]:
import json
# Load JSON file
filename = "incidents.json"
with open(filename, 'r') as file:
    data = json.load(file)

In [ ]:
# Insert documents into collection
collection = db[collection_name]
collection.insert_many(data)
print("JSON data successfully loaded into MongoDB collection 'incidents2' in database 'montgomery'.")
total_records = collection.count_documents({})
print("Total number of records in the collection:", total_records)

In [ ]:
db = client["montgomery"]
collection = db["incidents2"]
cursor = collection.find({})
mongo_frame = pd.DataFrame(list(cursor))

In [ ]:
mongo_frame.head()

In [ ]:
# Distribution of crashes by agency name
plt.figure(figsize=(10, 6))
sns.countplot(x='agency_name', data=mongo_frame)
plt.xticks(rotation=45)
plt.title('Crashes by Agency Name')
plt.show()

In [ ]:
client.close()

In [ ]:
# Select the montgomery database
db = client.montgomery

# Convert DataFrame to a list of dictionaries
data = final_transformed_frame.to_dict(orient='records')

# Insert documents into the collection
collection = db.incidents
result = collection.insert_many(data)

# Count the number of records inserted
num_records_inserted = len(result.inserted_ids)

# Count the total number of records in the collection
total_records_collection = collection.count_documents({})

### Dropping a Collection

In [ ]:
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient(uri)

# Select the montgomery database
db = client.montgomery

# Specify the name of the collection to drop
collection_name = "incidents"

# Drop the collection
db[collection_name].drop()

# Close the MongoDB client connection
client.close()

print(f"Collection '{collection_name}' dropped successfully.")

### Unique Values

In [ ]:
unique_counts = df_new_data.nunique()

In [ ]:
unique_counts

In [ ]:
# Get unique values of the 'agency_name' column
unique_agency_names = df_new_data['agency_name'].unique()
# Print the unique agency names
print(unique_agency_names)

In [ ]:
# Get counts of report numbers for each agency name
agency_counts = df_new_data['agency_name'].value_counts()
# Print the counts
print(agency_counts)

In [ ]:
# Create a bar plot
plt.figure(figsize=(10, 6))
bars = plt.bar(agency_counts.keys(), agency_counts, color='skyblue')

# Add labels and title
plt.xlabel('Agency Name')
plt.ylabel('Number of Report Numbers')
plt.title('Distribution of Report Numbers Across Agencies')

# Rotate x-axis labels for better readability
plt.xticks(rotation=45, ha='right')

# Add counts on top of each bar
for bar in bars:
    height = bar.get_height()
    plt.text(bar.get_x() + bar.get_width() / 2, height, height, ha='center', va='bottom')

# Show plot
plt.tight_layout()
plt.show()

In [ ]:
# Get unique values of the 'agency_name' column
unique_acrs_report_type = df_new_data['acrs_report_type'].unique()
# Print the unique agency names
print(unique_acrs_report_type)

In [ ]:
# Get counts of report numbers for each agency name
acrs_report_type_counts = df_new_data['acrs_report_type'].value_counts()
# Print the counts
print(acrs_report_type_counts)

In [ ]:
# Create a horizontal bar plot
plt.figure(figsize=(10, 6))
bars = plt.barh(list(acrs_report_type_counts.keys()), list(acrs_report_type_counts), color='pink')

# Add labels and title
plt.xlabel('Number of Report Numbers')
plt.ylabel('ACRS Report Type')
plt.title('Distribution of Report Numbers Across ACRS Report Types')

# Add counts beside each bar
for bar in bars:
    width = bar.get_width()
    plt.text(width, bar.get_y() + bar.get_height()/2, width, ha='left', va='center')

# Show plot
plt.tight_layout()
plt.show()

In [ ]:
# Convert 'crash_date_time' to datetime
df_new_data['crash_date_time'] = pd.to_datetime(df_new_data['crash_date_time'])

# Extract temporal features
df_new_data['year'] = df_new_data['crash_date_time'].dt.year
df_new_data['month'] = df_new_data['crash_date_time'].dt.month
df_new_data['day'] = df_new_data['crash_date_time'].dt.day
df_new_data['hour'] = df_new_data['crash_date_time'].dt.hour

# Plot the frequency of crashes over time
plt.figure(figsize=(10, 6))
df_new_data.groupby('year').size().plot(kind='line', marker='o')
plt.title('Frequency of Crashes Over Years')
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Plot the frequency of crashes over time
plt.figure(figsize=(10, 6))
frequency_by_year = df_new_data.groupby('year').size()
plt.plot(frequency_by_year.index, frequency_by_year.values, marker='o')
plt.title('Frequency of Crashes Over Years')
plt.xlabel('Year')
plt.ylabel('Frequency')

# Add labels for each data point
for i, freq in enumerate(frequency_by_year.values):
    plt.text(frequency_by_year.index[i], freq, str(freq), ha='center', va='bottom')

plt.show()

### MongoDB Cluster connection

In [ ]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://x22237941:Sana123@montgomerycluster.tzxvtsd.mongodb.net/?retryWrites=true&w=majority&appName=montgomerycluster"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
client

try:
    #client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
    client.montgomery.command('ping')
except Exception as e:
    print(e)

### Loading/writing Cleaned frame into MongoDB

### Reading data for final analysis from MongoDB