In [4]:
#pip install --upgrade pymongo

Requirement already satisfied: pymongo in c:\users\walee\anaconda3\envs\python\lib\site-packages (3.11.0)
Collecting pymongo
  Using cached pymongo-4.6.3-cp311-cp311-win_amd64.whl.metadata (22 kB)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\walee\appdata\roaming\python\python311\site-packages (from pymongo) (1.16.0)
Using cached pymongo-4.6.3-cp311-cp311-win_amd64.whl (472 kB)
Installing collected packages: pymongo
  Attempting uninstall: pymongo
    Found existing installation: pymongo 3.11.0
    Uninstalling pymongo-3.11.0:
      Successfully uninstalled pymongo-3.11.0
Successfully installed pymongo-4.6.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
#pip install "pymongo[srv]"==3.11

Collecting pymongo==3.11 (from pymongo[srv]==3.11)
  Using cached pymongo-3.11.0-cp311-cp311-win_amd64.whl
Requirement already satisfied: dnspython<2.0.0,>=1.16.0 in c:\users\walee\appdata\roaming\python\python311\site-packages (from pymongo[srv]==3.11) (1.16.0)
Installing collected packages: pymongo
Successfully installed pymongo-3.11.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector as mysql  
import os
import csv
import matplotlib as mp
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
#engine = create_engine('mysql+pymysql://root:waleed123@localhost/montgomery')

In [ ]:
# Read data from the table into a Pandas DataFrame
table_name = 'Non-Motorists_Data_20240404.csv'
query = f"SELECT * FROM `{table_name}`"  # Encapsulate table name in backticks
df = pd.read_sql(query, engine)

In [4]:
Data ="../Database-and-Analytical-Programming/dataset/Non-Motorists_Data_20240404.csv"

In [5]:
# MySQL database connection parameters
host = 'localhost'
user = 'root'
password = 'waleed123'
database = 'montgomery'

# Establish connection
connection = mysql.connect(
            host=host,
            user=user,
            password=password,
            database=database
)

if connection.is_connected():
    print("Connected to MySQL database")

Connected to MySQL database

In [7]:
connection

In [8]:
mycursor=connection.cursor()

In [9]:
query="SELECT count(*) FROM non_motorists"
mycursor.execute(query)
results = mycursor.fetchall()

In [10]:
print(results)

[(5649,)]

In [11]:
mycursor.execute("SHOW TABLES")
# Fetch all table names
tables = mycursor.fetchall()

# Print table names
for table in tables:
    print(table[0])

non_motorists
non_motorists_1

In [9]:
query1 = "SELECT * FROM non_motorists LIMIT 1"  # Fetching only one row to get column headers
mycursor.execute(query1)

# Fetch column names (column headers)
column_names = [desc[0] for desc in mycursor.description]

# Print column names
print("Column Names:")
for column_name in column_names:
    print(column_name)

mycursor.fetchall()

Column Names:
Report Number
Local Case Number
Agency Name
ACRS Report Type
Crash Date/Time
Route Type
Road Name
Cross-Street Type
Cross-Street Name
Off-Road Description
Municipality
Related Non-Motorist
Collision Type
Weather
Surface Condition
Light
Traffic Control
Driver Substance Abuse
Non-Motorist Substance Abuse
Person ID
Pedestrian Type
Pedestrian Movement
Pedestrian Actions
Pedestrian Location
Pedestrian Obeyed Traffic Signal
Pedestrian Visibility
At Fault
Injury Severity
Safety Equipment
Latitude
Longitude
Location

[('MCP2563001L',
  230017107,
  'Montgomery County Police',
  'Injury Crash',
  '10/04/2023 04:21:00 pm',
  'Maryland (State)',
  'MUNCASTER MILL RD',
  'Unknown',
  'STRUC #15015 ROCK CREEK',
  '',
  'N/A',
  'PEDESTRIAN',
  'SINGLE VEHICLE',
  'CLEAR',
  'DRY',
  'DAYLIGHT',
  'WARNING SIGN',
  'NONE DETECTED',
  'NONE DETECTED',
  '2D1655C2-78EB-4552-899C-4C57B12B59E9',
  'PEDESTRIAN',
  'Cross/Enter not at Intersection',
  'FAILURE TO YIELD RIGHT OF WAY',
  'ON ROADWAY AT CROSSWALK',
  'NO PED. SIGNAL',
  'DARK CLOTHING',
  'Yes',
  'SUSPECTED SERIOUS INJURY',
  'NONE',
  39.13764511,
  -77.12946041,
  '(39.13764511, -77.12946041)')]

In [12]:
queryal="SELECT count(*) FROM non_motorists"
mycursor.execute(queryal)

resal=mycursor.fetchone()
print("No. of records in 'non_motorists' table:",resal[0])

mycursor.fetchall()

No. of records in 'non_motorists' table: 5649

[]

In [13]:
#create_query="CREATE TABLE `non_motorists_2` (`Report_Number` VARCHAR(255),`Local_Case_Number` int DEFAULT NULL, `Agency_Name` VARCHAR(255),`ACRS_Report_Type` VARCHAR(255),`Crash_Date_Time` VARCHAR(255),`Route_Type` VARCHAR(255),`Road_Name` VARCHAR(255),`Cross_Street_Type` VARCHAR(255),`Cross_Street_Name` VARCHAR(255),`Off_Road_Description` VARCHAR(255),`Municipality` VARCHAR(255),`Related_Non_Motorist` VARCHAR(255),`Collision_Type` VARCHAR(255),`Weather` VARCHAR(255),`Surface_Condition` VARCHAR(255),`Light` VARCHAR(255),`Traffic_Control` VARCHAR(255),`Driver_Substance_Abuse` VARCHAR(255),`Non_Motorist_Substance_Abuse` VARCHAR(255),`Person_ID` VARCHAR(255), `Pedestrian Type` VARCHAR(255),`Pedestrian_Movement` VARCHAR(255),`Pedestrian_Actions` VARCHAR(255),`Pedestrian_Location` VARCHAR(255),`Pedestrian_Obeyed_Traffic_Signal` VARCHAR(255),`Pedestrian_Visibility` VARCHAR(255),`At_Fault` VARCHAR(255),`Injury_Severity` VARCHAR(255),`Safety_Equipment` VARCHAR(255),`Latitude` double DEFAULT NULL,`Longitude` double DEFAULT NULL,`Location` VARCHAR(255))"

In [ ]:
create_query='''CREATE TABLE non_motorists_2 (
                report_number TEXT,
                local_case_number TEXT,
                agency_name TEXT,
                acrs_report_type TEXT,
                crash_date_time TEXT,
                route_type TEXT,
                road_Name TEXT,
                cross_street_type TEXT,
                cross_street_name TEXT,
                off_road_description TEXT,
                municipality TEXT,
                related_non_motorist TEXT,
                collision_type TEXT,
                weather TEXT,
                surface_condition TEXT,
                light TEXT,
                traffic_control TEXT,
                driver_substance_abuse TEXT,
                non_motorist_substance_abuse TEXT,
                person_id TEXT,
                pedestrian_type TEXT,
                pedestrian_movement TEXT,
                pedestrian_actions TEXT,
                pedestrian_location TEXT,
                pedestrian_obeyed_traffic_signal TEXT,
                pedestrian_visibility TEXT,
                at_fault TEXT,
                injury_severity TEXT,
                safety_equipment TEXT,
                latitude TEXT,
                longitude TEXT,
                location TEXT
                )'''

In [14]:
mycursor.execute(create_query)

In [15]:
mycursor.execute("SHOW TABLES")
# Fetch all table names
tables = mycursor.fetchall()

# Print table names
for table in tables:
    print(table[0])

non_motorists
non_motorists_1

In [18]:
for row in df.itertuples():
    mycursor.execute('''INSERT INTO drivers (Report_Number,Local_Case_Number,Agency_Name,ACRS_Report_Type,Crash_Date_Time,Route_Type,
        Road_Name,Cross_Street_Type,Cross_Street_Name,Off_Road_Description,Municipality,Related_Non_Motorist,Collision_Type,Weather,
        Surface_Condition,Light,Traffic_Control,Driver_Substance_Abuse,Non_Motorist_Substance_Abuse,Person_ID,Pedestrian_Type,Pedestrian_Movement,Pedestrian_Actions,Pedestrian_Location,Pedestrian_Obeyed_Traffic_Signal,Pedestrian_Visibility,At_Fault,Injury_Severity,Safety_Equipment,Latitude,Longitude,Location)  
        VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
        ''',row.Report_Number,
        row.Local_Case_Number,
        row.Agency_Name,
        row.ACRS_Report_Type,
        row.Crash_Date_Time,
        row.Route_Type,
        row.Road_Name,
        row.Cross_Street_Type,
        row.Cross_Street_Name,
        row.Off_Road_Description,
        row.Municipality,
        row.Related_Non_Motorist,
        row.Collision_Type,
        row.Weather,
        row.Surface_Condition,
        row.Light,
        row.Traffic_Control,
        row.Driver_Substance_Abuse,
        row.Non_Motorist_Substance_Abuse,
        row.Person_ID,
        row.Pedestrian_Type,
        row.Pedestrian_Movement,
        row.Pedestrian_Actions,
        row.Pedestrian_Location,
        row.Pedestrian_Obeyed_Traffic_Signal,
        row.Pedestrian_Visibility,
        row.At_Fault,
        row.Injury_Severity,
        row.Safety_Equipment,
        row.Latitude,
        row.Longitude,
        row.Location
                  )
mycursor.execute(query, values)

NameError: name 'df' is not defined

In [19]:
csv_file = 'Non-Motorists_Data_20240404.csv'

# Open the CSV file and read its contents
with open(csv_file, 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip header row if it exists
    for row in reader:
        # Insert each row into the database
        query = "INSERT INTO non_motorists_1 (Report_Number,Local_Case_Number,Agency_Name,ACRS_Report_Type,Crash_Date_Time,Route_Type,Road_Name,Cross_Street_Type,Cross_Street_Name,Off_Road_Description,Municipality,Related_Non_Motorist,Collision_Type,Weather,Surface_Condition,Light,Traffic_Control,Driver_Substance_Abuse,Non_Motorist_Substance_Abuse,Person_ID,Pedestrian_Type,Pedestrian_Movement,Pedestrian_Actions,Pedestrian_Location,Pedestrian_Obeyed_Traffic_Signal,Pedestrian_Visibility,At_Fault,Injury_Severity,Safety_Equipment,Latitude,Longitude,Location) VALUES (%s, %s, %s,%s, %s, %s,%s, %s, %s,%s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s,%s, %s, %s,%s,%s)"
        values = tuple(row)  # Assuming the CSV structure matches the table structure
        mycursor.execute(query, values)

NameError: name 'csv' is not defined

In [ ]:
#query = "ALTER TABLE drivers DROP COLUMN `Off-Road Description`"
#mycursor.execute(query)

# Commit the transaction
#connection.commit()
#delete_query = "DELETE FROM drivers WHERE `Off-Road Description` = %s"
#value_to_delete = "value_to_delete"  # Replace 'value_to_delete' with the actual value you want to delete
# mycursor.execute(delete_query, (value_to_delete,))

# Commit the transaction
#connection.commit()

# Print the number of rows deleted
#print(f"{mycursor.rowcount} row(s) deleted.")